{% extends 'base.html' %}
{% load static %}

{% block content %}

<form action="{% url 'update' post.id %}" method="post" enctype="multipart/form-data">
	{%csrf_token%}
    <p>사진 :
        <input type="file" name="image" onchange="fileCheck(this)">
            {% if post.image %}
                <p>{{post.image_name}}</p>
            {% endif %}
    </p>
	
	<p>내용 : <textarea type="text" name="text" id="" cols="30" rows="10">{{post.text}}</textarea></p>
	<button type="submit">제출</button>
</form>

{% endblock %}
